# ================================================
# COPIA ESTE ARCHIVO, RENÓMBRALO A .env
# Y LLENA LOS VALORES REALES
# NUNCA SUBAS EL .env A GIT
# ================================================

DB_URL=jdbc:mysql://localhost:3306/asset_colombia?useSSL=false&serverTimezone=UTC
DB_USERNAME=usuario
DB_PASSWORD=2025

JWT_SECRET=AQUI_UNA_CLAVE_LARGA_MINIMO_64_CARACTERES

MAIL_USERNAME=damian.riano@unicity.com
MAIL_PASSWORD=Preguntar a damian